extends layout

block content
  h1= title
  p Welcome to #{title}

  .match.container
    .row
      .col-lg-4
        if name
          p 
            Hi #{name}
            a.btn.btn-lg.btn-primary(href='/signout') Sign out
        else
          p
            a.btn.btn-lg.btn-primary(href='/signup') Sign up
      .col-lg-6.pull-right
        unless bracket.winner
          a.btn.btn-lg.btn-danger(href='/nextRound/') Next Round

    if bracket.winner
      .row
        .col-lg-4.col-lg-offset-2
          h1 We have a winner!!!!
          h2= bracket.winner.name
          .puppy
            img(src=bracket.winner.image width=180)
          br
    else
      each match in bracket.matches
        .row
          .col-lg-4
            h2= match.dog1.name
            .puppy
              img(src=match.dog1.image width=180)
            .donations
              h3 Current donation amount
              p $
                = match.dog1.donations
            .buttons
              if name
                form(method="post" action="/donate")
                  .form-group
                    input(name="id" type="hidden" value=match.dog1.id)
                    .input-group
                      label(for='amount').sr-only amount to donate
                      .input-group-addon $
                      input(name="amount").form-control.donate
                    button(type="submit").btn.btn-default Donate!
              else 
                a(href='/signup') Sign up to donate
                

          .col-lg-2
            h1 VS

          .col-lg-4
            h2= match.dog2.name
            .puppy
              img(src=match.dog2.image width=180)
            .donations
              h3 Current donation amount
              p $
                = match.dog2.donations
            .buttons
              if name
                form(method="post" action="/donate")
                  .form-group
                    input(name="id" type="hidden" value=match.dog2.id)
                    .input-group
                      label(for='donate').sr-only amount to donate
                      .input-group-addon $
                      input(name="amount").form-control.donate
                    button(type="submit").btn.btn-default Donate!
              else 
                a(href='/signup') Sign up to donate


