extends layout

block content
  h1= title
  p Welcome to #{title}

  if name
    p Hi #{name}
    p
      a(href='/signout') Sign out
  else
    p
      a(href='/signup') Sign up

  .match.container
    each match in bracket.matches
      .row
        .col-lg-4
          h2= match.dog1.name
          .puppy
            img(src=match.dog1.image width=180)
          .buttons
            form(method="post")
              .form-group
                input(name="id" type="hidden" value=match.dog1.id)
                .input-group
                  label(for='donate').sr-only amount to donate
                  .input-group-addon $
                  input(name="donate").form-control.donate
                button(type="button").btn.btn-default Donate!

        .col-lg-2
          h1 VS

        .col-lg-4
          h2= match.dog2.name
          .puppy
            img(src=match.dog2.image width=180)
          .buttons
            form
              .form-group
                input(name="id" type="hidden" value=match.dog2.id)
                .input-group
                  label(for='donate').sr-only amount to donate
                  .input-group-addon $
                  input(name="donate").form-control.donate
                button(type="button").btn.btn-default Donate!


